.form-container {
  background-color: #fff;
  margin: 0 auto;
  max-width: 580px;
  width: 100%;

  h1 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding: 1.75rem;
    text-align: center;
  }
}
