<main class="main-content">
    <div class="top-table">
        <input type="text" placeholder="Search...">
        <button>
            Agregar
        </button>
    </div>

    <div class="table-container">
        <table>
            <tr>
                <th>Logo</th>
                <th>Nombre del producto</th>
                <th>Descripción</th>
                <th>Fecha de liberación</th>
                <th>Fecha de reestructuración</th>
                <th></th>
            </tr>
            <tr>
                <td>Celda 1</td>
                <td>Celda 2</td>
                <td>Celda 3</td>
                <td>Celda 4</td>
                <td>
                    Celda 5
                </td>
                <td>
                    <img src="../../../assets/images/three_dots_vertical.svg">
                </td>
            </tr>
        </table>
    </div>
</main>