<main class="main-content">
    <div class="top-table">
        <input type="text" placeholder="Search...">
        <button class="custom-btn">
            Agregar
        </button>
    </div>

    <div class="table-container">
        <table>
            <tr>
                <th>Logo</th>
                <th>Nombre del producto</th>
                <th>Descripción</th>
                <th>Fecha de liberación</th>
                <th>Fecha de reestructuración</th>
                <th></th>
            </tr>
            <tr>
                <td>
                    <div class="product-logo"></div>
                </td>
                <td>Nombre del producto</td>
                <td>Descripción</td>
                <td>01/01/2000</td>
                <td>01/01/2001</td>                
                <td>
                    <img src="../../../assets/images/three_dots_vertical.svg">
                </td>
            </tr>
            <tr>
                <td>
                    <div class="product-logo"></div>
                </td>
                <td>Nombre del producto</td>
                <td>Descripción</td>
                <td>01/01/2000</td>
                <td>01/01/2001</td>                
                <td>
                    <img src="../../../assets/images/three_dots_vertical.svg">
                </td>
            </tr>
            <tr>
                <td>
                    <div class="product-logo"></div>
                </td>
                <td>Nombre del producto</td>
                <td>Descripción</td>
                <td>01/01/2000</td>
                <td>01/01/2001</td>                
                <td>
                    <img src="../../../assets/images/three_dots_vertical.svg">
                </td>
            </tr>
            <tr>
                <td>
                    <div class="product-logo"></div>
                </td>
                <td>Nombre del producto</td>
                <td>Descripción</td>
                <td>01/01/2000</td>
                <td>01/01/2001</td>                
                <td>
                    <img src="../../../assets/images/three_dots_vertical.svg">
                </td>
            </tr>
            <tr>
                <td>
                    <div class="product-logo"></div>
                </td>
                <td>Nombre del producto</td>
                <td>Descripción</td>
                <td>01/01/2000</td>
                <td>01/01/2001</td>                
                <td>
                    <img src="../../../assets/images/three_dots_vertical.svg">
                </td>
            </tr>
            <tr>
                <td>
                    <div class="product-logo"></div>
                </td>
                <td>Nombre del producto</td>
                <td>Descripción</td>
                <td>01/01/2000</td>
                <td>01/01/2001</td>                
                <td>
                    <img src="../../../assets/images/three_dots_vertical.svg">
                </td>
            </tr>
        </table>
    </div>
</main>